<div class="container"
     [style.width.px]="width"
     [style.height.px]="height +10"
     [style.top.px]="top"
     [style.left.px]="left">
    <div class="item" *ngFor="let item of items; let i = index"
         [ngClass]="{'hover': items[i].selected }"
         (click)="onItemClick($event)"
         (mouseenter)="onItemMouseenter($event)"
         (mouseleave)="onItemMouseleave($event)"
         [style.height.px]="itemHeight"
         [style.paddingTop.px]="itemPadding"
         [style.paddingBottom.px]="itemPadding">{{item.label}}
    </div>
</div>
